.menu{
	width: 100%; height: 40px;margin-bottom: 40px;border-bottom: 2px solid #d3d4d5;
}
    .menu ul{
    	width: 90%;height: 40px; display: block; margin-left: 3%;
    }
	   .menu li{
	   	list-style: none;float: left;padding:10px 30px;border-top-left-radius: 5px;border-top-right-radius: 5px;
	   }
	      .menu li:hover{
	      	border-bottom:5px solid #fff;border-top:1px solid #d3d4d5;border-left:1px solid #d3d4d5;border-right:1px solid #d3d4d5; cursor: pointer;
	      }
	      .addCss{
	      	border-bottom:5px solid #fff;border-top:1px solid #d3d4d5;border-left:1px solid #d3d4d5;border-right:1px solid #d3d4d5;
	      }
	      .outCss{
	      	border-top-left-radius: 5px;border-top-right-radius: 5px;border: 0px;
	      }

.menu_left{
	width: 100%;display: block;
}
.menu_right{
	width: 98%;display: none;margin-left: 1%;
}

.table_div{
	width: 100%;height: 800px;overflow: auto;
}

	.table{
		width: 100%;text-align: center;border-collapse: collapse;margin-top: 20px;
	}
		.table thead th{
			border: 1px solid #d3d4d5; border-bottom: 2px solid #d3d4d5; height: 35px;
		}
		.table tbody td{
	         border: 1px solid #d3d4d5;height: 30px;word-wrap: break-word;
		}
		.table tbody tr:hover{
			background-color: #f5f5f5;
		}
		.tdOne{
			width: 100px;
		}
		.tdTwo{
			width: 50px;
		}
	.submit{
		width: 80px;height: 30px;color: #515567;font-size: 14px;margin-left:20px; margin-top: 15px;
	}
.book_num{
	display:inline-block;margin-left: 20px;
}
.book_num span{
	color: #419EDE;
}
.data_1{
	position: relative;
}
	.data_1 button{
		position: absolute;right: 20%;width: 80px;height: 30px;color: #515567;
	}
.error{
	color: red;
}