.data{
 			width: 100%;height: 45px;line-height: 35px;margin-bottom: 5px;
 		}
	 		.data label{
	              font-size: 14px; float: left;margin-left: 150px;color: #515567;font-weight: bold;
	 		}
	 		.data input{
	             width: 500px;height: 20px;border: 1px solid #ccc; float: right;margin-right: 300px;font-size: 20px;border-radius: 5px;
                padding: 6px 12px;
	 		}
	 	.btn{
	 		width: 80px;height: 35px; font-size: 20px; line-height: 35px;text-align: center;border: 1px solid #d3d4d5;border-radius: 5px;
	 		display: inline-block;margin-top: 10px;margin-right: 30px;
	 	}
	 		.btn:hover{
	 			background-color: #F0F0F0;cursor: pointer;
	 		}
	 	.A_btn{
	 		margin-left: 240px;
	 	}
	 		
.table_div{
	width: 98%;height: 800px;overflow: auto;margin-left: 1%;
}
	.table{
		width: 100%;text-align: center;border-collapse: collapse;margin-top: 30px;
	}
		.table thead th{
			border: 1px solid #d3d4d5; border-bottom: 2px solid #d3d4d5; height: 35px;
		}
		.table tbody td{
	         border: 1px solid #d3d4d5;height: 30px;ã€€word-wrap: break-word;
		}
		.table tbody tr:hover{
			background-color: #f5f5f5;
		}
		.tdOne{
			width: 100px;
		}
		.tdTwo{
			width: 50px;
		}
.add_btn{
	 	width: 100px;height: 35px; font-size: 20px; line-height: 35px;text-align: center;border: 1px solid #d3d4d5;border-radius: 5px;
	 	display: inline-block;margin-top: 10px;float: right;
	 	}
	 		.add_btn:hover{
	 			background-color: #F0F0F0;cursor: pointer;
	 		}