/*图书管理员（ad）相关html的公共CSS*/
*{
	padding:0; margin: 0;font-family: "宋体"
}
.clear{
	clear: both;
}
.ad_page{
	width: 1366px; height: 1050px; margin:auto;
}
.header{
	width: 100%;height: 48px;background-color: #252E57;
}
	.header img{
	      width: 15%;display: inline-block;float: left;
	}
	.state{
		 height: 48px; line-height: 48px; float: right;
	}
		.state a{
			color: #FFF;text-decoration: none;
		}
			.state a:hover{
				color: #9FCFA1;cursor: pointer;
			}
		.fa_i{
			width: 36px;height: 36px; border-radius: 18px; line-height: 35px; font-size: 20px;text-align: center;
			background-color: #90C320;color: #FFF;display: inline-block;
		}
		.ad_name{
			 font-size: 20px;font-weight: bold; padding-right: 40px; color: #FFF;display: inline-block;
		}
		.out{
			 font-size: 20px;font-weight: bold; padding-right: 70px; color: #FFF;display: inline-block;
		}
			
.content{
	width: 100%;height: 100%;
}
	.left{
		width: 15%;height: 100%; background-color: #262537; float: left;
	}
		.left a{
			font-size: 20px;color: #9FCFA1;text-decoration: none;
		}
		.left ul li{
			list-style: none;padding:20px 0px 20px 35px;position: relative;
		}
			.left ul li:hover{
			 background-color: #BBCAF1;color: #FFF;
			}
			.left ul li:hover .trig{
			 display: block;
			}
		.trig{
			width: 30px;height: 30px; background-color: #FFF; transform:skew(45deg,-45deg);
			position: absolute;top: 15px;right: -15px;display: none;
		}
	.right{
		width: 78%;height: 100%;float: left;
	}
		.ad_data{
		    	width: 100%;height: 90%;margin: 30px 50px;padding-top: 30px;border:2px solid #d3d4d5;border-radius: 15px;
		}