*{
	padding: 0;margin: 0;
}
.body{
	font-family: "宋体";
	-webkit-font-smoothing: antialiased;
}
.claer{
	clear: both;
}
.index{
	width: 1366px;margin: auto;
}
.header{
	width: 100%;height: 55px;background-color: #262F5A;
}
	.state{
		width: 30%;height: 55px;color: #FFF;font-size: 20px;float: right;display: none;
	}
		.state img{
			width: 50px;height: 50px;border-radius: 25px;display: inline-block;
		}
		.username{
			 width: 130px;height: 20px; overflow: hidden; color: #FFF;font-size: 20px;display: inline-block;position: absolute;top: 20px;right: 15%;
		}
		.delete{
			color: #FFF;font-size: 20px;position: absolute;top: 20px;right: 9.5%;
		}
	.login{
		color: #FFF;font-size: 20px;position: absolute;top: 20px;right: 9.5%;
	}
	.login a{
		color: #FFF;text-decoration: none;
	}
	.login a:hover{
		color: #5267E0;
	}
.menu{
   width: 1080px;height: 100px;margin: auto;background-color: #FFF;
}
	.logo img{
		display: inline-block;float: left;margin-top: 10px;
	}
	.menu-list ul{
         width: 600px;height: 100px;display: inline-block;float: left;
	}
		.menu_list ul li{
	        font-size: 20px;margin-left: 50px;float: right;list-style: none;line-height: 100px;font-weight: bold;
		}
			.menu_list ul li a{
				color: #020202;font-weight: bold;text-decoration: none;
			}
				.menu_list ul li a:hover{
				text-decoration: underline;
			}
.banner{
	width: 1080px;height: 435px;margin:auto;/*background: url(../images/photo.png)  center no-repeat;*/position: relative;
}
.search{
	width: 500px;height: 80px;background-color: #FFF;border-radius: 10px;position: absolute;top: 200px;right: 0px;z-index: 100;
}
	.search_input{
		width:350px;height: 35px;border: 5px solid #262F5A; font-size: 20px; position: absolute; top:17px;right: 120px;
	}
	.search_btn{
		width: 85px;height: 35px;background-color: #262F5A;color: #FFF; font-size: 20px;font-weight: bold; line-height: 30px;text-align: center;
		 position: absolute; top:20px;right: 25px;
	}
		.search_btn:hover{
			background-color: #AFBCF2;cursor: pointer;
		}
.grey_one{
    width: 1366px;height: 250px;position: absolute; top:250px; background-color: #E2E2E2;z-index: -1;
}
.grey_two{
	 width: 1366px;height: 35px;position: absolute; top:630px; background-color: #E2E2E2;font-size: 15px; line-height: 35px;color: #985F90;font-weight: bold;
}

.footer{
	width: 1366px;height: 55px;text-align: center;font-size: 14px;color: #FFF;background-color: #262F5A;margin-top: 100px;
}
	.footer p{
		margin-top: 10px;
	}


/*图片轮播*/
 
#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1080px;
        height:435px;
      }
    }