.data{
 		width: 100%;height: 60px;line-height: 35px;margin-bottom: 5px;
 		}
	 		.data label{
	              font-size: 14px; float: left;margin-left: 25%;color: #515567;font-weight: bold;
	 		}
	 		.data div{
	             width: 500px;line-height: 20px; float: right;margin-right: 300px;font-size: 20px;border-radius: 5px;
                padding: 6px 12px;background-color: #E0EDF5;
	 		}